/* src/components/NewsCard.css */
#first_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
/* src/components/NewsCardList.css */
.news-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  